body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 25px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #444;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input::placeholder {
  color: #aaa;
  font-size: 13px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 40%;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
